

<div class="container" >
    <p>Lista de usuários!</p>

    <button routerLink="/add" type="button" class="btn btn-dark">Cadastrar</button>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nacimento</th>
            <th scope="col">CPF</th>
            <th scope="col">email</th>
            <th scope="col">senha</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersList">
            <th>{{user.username}}</th>
            <td>{{user.userborndate}}</td>
            <th>{{user.usercpf}}</th>
            <td>{{user.useremail}}</td>
            <td>"{{user.userpassword}} </td>
            <td>
                <button (click)="editUser(user.id)" type="button" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button (click)="deleteUser(user.id)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

</div>


